#container {
    display: grid;
    background-color: #d39595;
    color: white;
    width: 600px;
    height: 600px;
}

#divSq {
    display: flex;
    background-color: black;
    width: 100px;
    height: 100px;
}

#newDiv {
    background-color: green;
    display: grid;
    width: 100px;
    height: 100px;
}