#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d39595;
    color: white;
    width: 600px;
    height: 600px;
}

#divSq {
    background-color: black;
    width: 100px;
    height: 100px;
}