#container {
    display: flex ;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #d39595;
    color: white;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
}

#divSq {
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
}

#newDiv {
    background-color: green;
    width: 50px;
    height: 50px;
}